.git
tests/
docs/
.vscode/
node_modules/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
dist/
build/
*.egg-info/
.eggs/
*.anki2
data/
.env
ankiweb/web_assets/
ankiweb/shell/static/
