{% from "components/item.html.jinja" import item %}

<div class="border border-base-300 rounded-box p-3 flex gap-2">
    {% call item(id="item-normal") %}
        <span class="badge badge-success p-2">Item 1 (rendered)</span>
    {% endcall %}
    {% call item(id="item-detached", detach=true) %}
        <span class="badge badge-error p-2">Item 2 (detached / hidden)</span>
    {% endcall %}
    {% call item(id="item-normal-2") %}
        <span class="badge badge-info p-2">Item 3 (rendered)</span>
    {% endcall %}
</div>
