{% from "components/row.html.jinja" import row %}

<div class="border border-base-300 p-2 rounded-box">
    {% call row(class_="bg-base-200 p-2 gap-2 rounded") %}
        <div class="p-2 bg-primary text-primary-content rounded">Item 1</div>
        <div class="p-2 bg-success text-success-content rounded">Item 2</div>
        <div class="p-2 bg-info text-info-content rounded">Item 3</div>
    {% endcall %}
</div>
