{% from "components/select_option.html.jinja" import select_option %}

<div class="flex flex-col gap-3" data-signals="{ activeOpt: 'opt2' }">
    <div class="border border-base-300 rounded-box p-2 max-w-xs bg-base-100">
        {% call select_option(value="opt1", signal="$activeOpt", active=false) %}
            First Option
        {% endcall %}
        {% call select_option(value="opt2", signal="$activeOpt", active=true, selected=true) %}
            Second Option (Active/Selected)
        {% endcall %}
        {% call select_option(value="opt3", signal="$activeOpt", disabled=true) %}
            Third Option (Disabled)
        {% endcall %}
        {% call select_option(value="opt4", signal="$activeOpt", rtl=true) %}
            RTL Option
        {% endcall %}
    </div>

    <div>
        Selected option: <span class="badge badge-primary" data-text="$activeOpt">opt2</span>
    </div>
</div>
