{# Demo for FloatingArrow component #}
{% from "components/floating_arrow.html.jinja" import floating_arrow %}

<div class="flex flex-wrap gap-5 items-center p-4 border border-base-300 rounded-box bg-base-100" data-testid="demo-floating-arrow-container">
  <div class="flex flex-col items-center">
    <span>Default Arrow:</span>
    <div class="relative p-4 bg-base-200 border border-base-300 rounded">
      {{ floating_arrow(id="arrow-default", style="position: relative;") }}
    </div>
  </div>

  <div class="flex flex-col items-center">
    <span>Arrow Rotated 45deg (Top/Pointing Up):</span>
    <div class="relative p-4 bg-base-200 border border-base-300 rounded">
      {{ floating_arrow(id="arrow-top", style="position: relative; transform: rotate(45deg);") }}
    </div>
  </div>

  <div class="flex flex-col items-center">
    <span>Arrow Rotated 135deg (Right/Pointing Right):</span>
    <div class="relative p-4 bg-base-200 border border-base-300 rounded">
      {{ floating_arrow(id="arrow-right", style="position: relative; transform: rotate(135deg);") }}
    </div>
  </div>

  <div class="flex flex-col items-center">
    <span>Arrow Rotated 225deg (Bottom/Pointing Down):</span>
    <div class="relative p-4 bg-base-200 border border-base-300 rounded">
      {{ floating_arrow(id="arrow-bottom", style="position: relative; transform: rotate(225deg);") }}
    </div>
  </div>

  <div class="flex flex-col items-center">
    <span>Arrow Rotated 315deg (Left/Pointing Left):</span>
    <div class="relative p-4 bg-base-200 border border-base-300 rounded">
      {{ floating_arrow(id="arrow-left", style="position: relative; transform: rotate(315deg);") }}
    </div>
  </div>
</div>
