{% from "components/absolute.html.jinja" import absolute %}

<div class="position-relative p-4 border bg-light" style="height: 120px;">
    {% call absolute(top=true, left=true) %}
        <span class="badge bg-primary">Top Left</span>
    {% endcall %}
    {% call absolute(top=true, right=true) %}
        <span class="badge bg-secondary">Top Right</span>
    {% endcall %}
    {% call absolute(bottom=true, left=true) %}
        <span class="badge bg-success">Bottom Left</span>
    {% endcall %}
    {% call absolute(bottom=true, right=true) %}
        <span class="badge bg-danger">Bottom Right</span>
    {% endcall %}
</div>
