{# DropdownDivider component ported from ts/lib/components/DropdownDivider.svelte #}
{% macro dropdown_divider(class_="") %}
  <hr class="dropdown-divider{% if class_ %} {{ class_ }}{% endif %}" {% for k, v in kwargs.items() %}{{ k }}="{{ v }}" {% endfor %}/>
{% endmacro %}
