{% from "components/switch.html.jinja" import switch %}
{% from "components/label.html.jinja" import label %}
{% from "components/config_input.html.jinja" import config_input %}
{% from "components/revert_button.html.jinja" import revert_button %}

{% macro switch_row(
    id="",
    value=false,
    default_value=false,
    disabled=false,
    rtl=false,
    signal=none,
    signal_default=none,
    class_=""
) %}
{#
  SwitchRow: Row composing Col, Label, Switch, and ConfigInput with RevertButton.
  Note: Renders inline row/col flex layout matching upstream Row/Col grid.
#}
{% set row_id = id if id else ('sw-row-' ~ range(1000, 9999)|random) %}
<div
    class="row align-items-center g-2 {{ class_ }}"
    {% for k, v in kwargs.items() %}
    {{ k }}="{{ v }}"
    {% endfor %}
>
    <div class="col-8 col-sm-9 d-flex align-items-center">
        {% call label(for_=row_id, prevent_mouse_click=true) %}
            {% if caller %}
                {{ caller() }}
            {% else %}
                Setting
            {% endif %}
        {% endcall %}
    </div>
    <div class="col-4 col-sm-3 d-flex justify-content-end">
        {% set rev %}
            {% if signal %}
                {{ revert_button(signal_value=signal, signal_default=signal_default, default_value=default_value) }}
            {% else %}
                {{ revert_button(value=value, default_value=default_value) }}
            {% endif %}
        {% endset %}
        {% call config_input(grow=false, rtl=rtl, revert_slot=rev) %}
            {{ switch(id=row_id, value=value, disabled=disabled, rtl=rtl, signal=signal) }}
        {% endcall %}
    </div>
</div>
{% endmacro %}
