<center>
  <h3>{{ name }}</h3>
  {% if desc %}<div class="descfont descmid description">
      {% if desc_is_markdown %}{{ desc | safe }}{% else %}{{ desc }}{% endif %}
    </div>{% endif %}
  <table cellspacing="0" cellpadding="5" class="overview-counts">
    <tr>
      <th>{{ tr.statistics_counts_new_cards() }}</th>
      <th>{{ tr.statistics_counts_learning_cards() }}</th>
      <th>{{ tr.studying_to_review() }}</th>
    </tr>
    <tr>
      <td align="center"><span class="new-count">{{ new }}</span></td>
      <td align="center"><span class="learn-count">{{ learn }}</span></td>
      <td align="center"><span class="review-count">{{ review }}</span></td>
    </tr>
  </table>
  <div class="studybtn">
    <button
      type="button"
      id="study"
      class="but"
      autofocus
      onclick="pycmd('study'); return false"
    >
      {{ tr.studying_study_now() }}
    </button>
  </div>
  <div class="bottom-buttons">
    <button type="button" onclick='pycmd("opts")'>
      {{ tr.actions_options() }}
    </button>
    {% if is_dyn %}<button type="button" onclick='pycmd("refresh")'>
        {{ tr.actions_rebuild() }}
      </button><button type="button" onclick='pycmd("empty")'>
        {{ tr.studying_empty() }}
      </button>{% else %}<button type="button" onclick='pycmd("studymore")'>
        {{ tr.actions_custom_study() }}
      </button>{% endif %}
    {% if have_buried %}<button type="button" onclick='pycmd("unbury")'>
        {{ tr.studying_unbury() }}
      </button>{% endif %}
    <button
      type="button"
      onclick="document.getElementById('descedit').style.display = ''"
    >
      {{ tr.studying_edit() }} {{ tr.fields_description() }}
    </button>
    <button type="button" onclick='pycmd("decks")'>
      {{ tr.actions_decks() }}
    </button>
  </div>
  <div id="descedit" style="display:none;margin-top:10px;">
    <textarea id="descbox" rows="4" cols="50"
    >{{ raw_desc }}</textarea><br><label><input
        type="checkbox"
        id="descmd"
        {% if md_checked %}
          checked
        {% endif %}
      > Render as markdown</label><br><button
      type="button"
      onclick="saveDesc()"
    >
      {{ tr.actions_save() }}
    </button>
    <button
      type="button"
      onclick="document.getElementById('descedit').style.display = 'none'"
    >
      {{ tr.actions_cancel() }}
    </button>
  </div>
  <script>
    function saveDesc() {
        var d = document.getElementById('descbox').value,
            m = document.getElementById('descmd').checked;
        pycmd('setdesc:' + JSON.stringify({
            desc: d,
            md: m
        }));
    }
  </script>
</center>
