<center>
    <input type="text"
           id="typeans"
           onkeypress="ankiwebTypeAnsPress(event);"
           style="font-family:'{{ font }}';
                  font-size:{{ size }}px">
</center>
