<div id="rev-actions" class="inline-block">
  <div class="dropdown dropdown-end">
    <button class="btn btn-sm btn-outline" type="button" tabindex="0">
      More Actions
    </button>
    <ul tabindex="0" class="dropdown-content menu flex-nowrap bg-base-100 rounded-box shadow-lg z-50 w-52 p-1 border border-base-300" style="max-height: calc(100dvh - 4rem); overflow-y: auto;">
      {% for b in buttons %}
        <li>
          <button
            type="button"
            class="rev-act text-sm py-1.5 px-3"
            onclick="this.closest('.dropdown')?.removeAttribute('open'); document.activeElement?.blur(); {{ b.onclick | safe }}"
          >
            {{ b.label }}
          </button>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
