<div class="text-center">
    <input type="text"
           id="typeans"
           class="input input-lg inline-block w-auto"
           onkeypress="ankiwebTypeAnsPress(event);"
           style="font-family:'{{ font }}';
                  font-size:{{ size }}px">
</div>
